/* html,
body { */
/* margin: 0;
  height: 100%;
  overflow: hidden; */
/* } */

header {
  z-index: 5000;
}

.hand {
  cursor: pointer;
}

.unselect {
  user-select: none;
}

.statement {
  font-size: 2.5rem;
  font-weight: 300;
}

progress {
  height: 7px;
  color: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: rgb(157, 0, 0);
}

progress::-webkit-progress-bar {
  /* background: rgb(72, 72, 237); */
  background: #109e10;
}

#chartCard {
  flex: 1;
  min-height: 400px;
  min-width: 400px;
}

#statementValue:hover {
  text-shadow: 2px 2px #dadada;
  color: #109e10;
}
